.DS_Store
.env
.env.*.local
.eslintcache
.idea
.node_repl_history
.npm
.nuxt
.yarn-integrity
*.log
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.seed
*.sln
*.suo
*.sw?
*.tgz
/dist
/logs
build
coverage
node_modules
npm-debug.log*
pids
yarn-debug.log*
yarn-error.log*
